{% extends "layout.html" %} {% block title %} Register {% endblock title %} {%
block body %} {% from "includes/_formhelpers.html" import render_field %}

<form method="post">
  <dl>
    {{ render_field(form.firstname) }} {{ render_field(form.lastname) }} {{
    render_field(form.adres) }}
  </dl>
  <p>
    <input type="submit" value="Kayıt Ol" />
  </p>
</form>

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Adres</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user._id }}</td>
      <td>{{ user.firstname }}</td>
      {% if user.lastname == "" %}
      <td>Kullanıcı Girmemiş</td>
      {% else %}
      <td>{{ user.lastname }}</td>
      {% endif %} {% if user.adres == None %}
      <td>YOK</td>
      {% elif user.adres == "" %}
      <td>Kullanıcı Girmemiş</td>
      {% else %}
      <td>{{ user.adres }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock body %}
